body {
    overflow: hidden;
    font-family: 'Bangers',arial,cursive;
}

.imgHolder {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
}

.img {
  height: 300px;
}

.title {
  text-align: center;
  color: #ff8400;
}
